@use "../global-vars" as *;

$navbar-height: auto;

/* Ajustar altura del navbar */
.navbar {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

/* Ajustar altura del contenido interno */
.navbar .nav-link,
.navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	font-size: 0.95rem; /* opcional: más compacto */
}

nav {
	background-color: $primary-500;
}

.kn-navbar-container{
	max-width: 95%;
}

.logo {
	text-decoration: none;
	color: white;
}

.logo:hover {
	color: white;
}


.kn-logo-img {
	width: 90px;
	height: auto;
}

.kn-logo-txt {
	font-size: 40px;
	font-family: 'caveat-brush';
}

.kn-navbar-links {
	list-style: none;

	li {
		.nav-link {
			color: white;
			font-family: 'caveat-brush';
			font-size: 20px;
			text-decoration: none;
			border-bottom: 2px solid transparent;
			transition: border-color 0.3s ease;
		}

		.nav-link:hover {
			color: $secundary-100;
			font-family: 'caveat-brush';
			font-size: 20px;
			border-bottom: 2px solid $secundary-100;
		}
	}
}
