<!-- templates/components/navbar.html -->
<header id="knowy-navbar"
		th:fragment="knowy-navbar(username, avatar)">

	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">

			<!-- Logo -->
			<a class="logo d-flex align-items-center" href="#">
				<img class="kn-logo-img" src="/images/logoWoutText.png" alt="Logo de Knowy">
				<span class="kn-logo-txt">Knowy</span>
			</a>

			<!-- Botón hamburguesa para móviles -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Contenido colapsable -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="d-flex w-100 justify-content-between align-items-center flex-wrap">

					<!-- Buscador -->
					<form class="position-relative mx-auto my-2">
						<input type="search" class="form-control pe-5 kn-search-input" placeholder="Buscar curso" aria-label="Buscar curso" name="search">
						<button type="submit" class="btn position-absolute top-50 end-0 translate-middle-y me-2 p-0 d-flex justify-content-center align-items-center kn-search-btn">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
								 viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2"
								 stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
								<path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
								<path d="M21 21l-6 -6" />
							</svg>
						</button>
					</form>

					<!-- Menú y enlaces -->
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" href="#">Inicio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Tienda</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							   data-bs-toggle="dropdown" aria-expanded="false">
								Yo
							</a>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#">Perfil</a></li>
								<li><a class="dropdown-item" href="#">Mensajes</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
							</ul>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</nav>
</header>


